/* Google Fonts link*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    background: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #054E57;
}

/* headings and logo */

header {
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: 20px;
}

h1,
h2 {
    color: #054E57;
}

header>a {
    text-decoration: none;
}

#logo {
    text-align: center;
}

#menu {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 2px;

}

#menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.game-zone {
    display: inline-block;
    height: 500px;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

/*.user-selection-zone {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}*/

.button-container {
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 1px solid #054E57;
    margin: 10px 30px;
}

.user-button {
    font-size: 500%;
    color: #054E57;
    margin: 0 auto;
    padding: 5px;
    /*margin: 10px 30px;
    border: 1px solid #054E57;*/
}

.score-tally-zone {
    width: 100%;
    text-align: center;
}