/* Google Fonts link*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    background: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #054E57;
}

/* headings and logo */

header {
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: 20px;
}

h1,
h2 {
    color: #054E57;
}

header>a {
    text-decoration: none;
}

#logo {
    text-align: center;
}

#menu {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 2px;

}

#menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.game-zone {
    display: inline-block;
    height: 300px;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.user-selection-zone {
    height: 100px;
}

.button-container {
    display: inline-block;
    height: 75px;
    width: 75px;
    border: 2px solid #054E57;
    border-radius: 5px;
    margin: 10px 20px;
}

.button-container:hover {
    color: gold;
    border-color: gold;
}

.button-container:active {
    border-style: dotted;
}

.user-button {
    font-size: 300%;
    color: inherit;
    margin: 0 auto;
    padding: 9%;
    /*margin: 10px 30px;
    border: 1px solid #054E57;*/
}

/*.user-button::after {
    content: attr(data-type);
    font-size: 0.5rem;
    color: #054E57;
    position: relative;
}*/

.play-button {
    border: 2px solid #054E57;
    border-radius: 5px;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding: 5px;
}    

.play-button:hover,
.play-again-button:hover {
    background-color: #054E57;
    color: gold;
}

.play-again-button {
    border: 2px solid #054E57;
    border-radius: 5px;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding: 5px;
    display: none;
}

.battle-area {
    height: 150px;
    margin-top: 2%;
}

.battle-area>
span {
    position: relative;
    font-size: 2em;
    font-weight: bold;
    display: block;
}

/*.battle-area>
.button-container {
    position: relative;
    top: 1em;
}*/

.score-tally-zone {
    width: 100%;
    height: 100px;
    margin-top: 70px;
    text-align: center;
}

.score-tally-zone p {
    display: inline;
    margin: 10px 30px;
    font-size: 1.2em;
    letter-spacing: 2px;
}